<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Transaksi</title>
</head>

<body>
    <section layout:fragment="content">
        <h1>Daftar Transaksi</h1>

        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Waktu</th>
                        <th scope="col">Nasabah</th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">Nilai</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tr,row : ${dataTransaksi.content}">
                        <td th:text="${row.index + 1}">1,001</td>
                        <td th:text="${tr.waktuTransaksi}">1,001</td>
                        <td th:text="${tr.nasabah.nomor + ' - ' + tr.nasabah.nama}">random</td>
                        <td th:text="${tr.keterangan}">data</td>
                        <td th:text="${tr.nilai}">placeholder</td>
                        <td>
                            <a th:href="@{/transaksi/view(id=${tr.id})}">view</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        Show <span sd:page-size-selector="javascript"></span> entries

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                    aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</body>

</html>